<div class="flex h-full p-4 md:px-16 md:mx-16">
  <div class="w-full md:w-96 p-4 md:mt-8">

    <div class="mb-4 pb-4 border-b border-gray-300 font-bold">
      <ng-container *ngIf="submit; else elseTemplate">
        Revisa tu correo y sigue las instrucciones
      </ng-container>
      <ng-template #elseTemplate>
        ¿Has olvidado la contraseña?
      </ng-template>

    </div>

    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="mb-3">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
          <ng-container *ngIf="submit; else elseTemplate2">
            Hemos enviado un correo con instrucciones para que recuperes tu contraseña.
          </ng-container>
          <ng-template #elseTemplate2>
            Ingresa tu correo y te enviaremos un enlace a tu correo para que puedas cambiar la contraseña.
          </ng-template>

        </label>
        <div *ngIf="!submit">
          <input type="email" id="email"
            class="bg-white border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="name@mindeo.io" formControlName="email">
        </div>
      </div>

      <div class="mb-4">
        <ng-container *ngIf="submit; else elseButtons">
          <button [disabled]="form.invalid" routerLink="/"
            ngClass="bg-mindeo hover:bg-mindeo text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Volver
          </button>
        </ng-container>
        <ng-template #elseButtons>
          <button [disabled]="form.invalid" type="submit"
            [ngClass]="(form.invalid ? 'bg-gray-300 ' : 'bg-mindeo hover:bg-mindeo ') + 'text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm w-full px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'">
            Restablecer contraseña
          </button>
        </ng-template>

      </div>
    </form>
    <div class="flex justify-center mb-4">
      <span><a class="text-mindeo font-bold underline" routerLink="/auth/login">
          Iniciar sesión
        </a></span>
    </div>

    <div class="flex justify-center">
      <span>¿No tienes cuenta? <a class="text-mindeo font-bold underline" routerLink="/auth/register">
          Regístrate
        </a></span>

    </div>
  </div>
</div>
