<div class="block">
  <div class="h-screen--16 flex items-center p-8 md:p-16">

    <div class="block">
      <h1 class="text-5xl font-semibold mb-8">
        Convierte tus ideas
        <br>
        en un negocio
        <br>
        sostenible
      </h1>
      <button type="submit"
        [ngClass]=" 'bg-mindeo hover:bg-mindeo text-lg text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'">
        Comencemos
      </button>
    </div>

  </div>
  <div class="h-96 flex items-center justify-center">
    <div class="grid grid-cols-2 gap-8">
      <div class="flex items-center text-4xl font-semibold">
        Con Mindeo
      </div>
      <div class="block">
        <h1 class="text-5xl font-bold my-4">
          Innovas
        </h1>
        <h1 class="text-5xl font-bold my-4">
          Aprendes
        </h1>
        <h1 class="text-5xl font-bold my-4">
          Emprendes
        </h1>
      </div>
    </div>
  </div>
</div>
